<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link href="https://fonts.googleapis.com/css?family=Kreon" rel="stylesheet">
    <link rel="icon" type="image/png" href="/icon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/icon/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta charset="UTF-8">
    <title>Kalorika</title>
</head>
<body>
    <div class="titol" id="title">
        <h1 id="title-small">Kalorika</h1>
    </div>
    <img class="imatge" src="/uploads/{{filename}}">
    <div class="text_sec">
        <h2 id="text-ombra">Select the main ingredient</h2>
    </div>
    <form class="out_box" action="/upload-ingredient" enctype=multipart/form-data id="box-short">
        <select name="ingredient_principal" class="in_box" id="in-box-select">
            {% for ingredient in llista_ingr %}
                <option value="{{ ingredient }}">{{ ingredient }}</option>
            {% endfor %}
        </select>
        <input type="hidden" value="{{ llista_ingr|join(',') }}" name="ingredients">
        <input class="input_upload" type="submit" value="Send">
        <input type="hidden" value="{{filename}}" name="filename">
    </form>
</body>

</html>