<!DOCTYPE html>
<html lang="en">
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148587057-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-148587057-1');
</script>


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link href="https://fonts.googleapis.com/css?family=Kreon" rel="stylesheet">
    <link rel="icon" type="image/png" href="/icon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/icon/favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta charset="UTF-8">
    <title>Kalorika</title>
</head>
<body>
    <div class="titol" id="title">
        <h1 id="title-small">Kalorika</h1>
    </div>
    <img class="imatge" src="/uploads/{{filename}}">
    <div class="out_box" id="box-long">
        <h2 class="text_sec" id="text-sense-ombra">Serving contains:</h2>
        <p class="text_ter"><strong>Calories (Kcal): </strong>{{ kcal }}</p>
        <p class="text_ter"><strong>Fat (total): </strong>{{ fat }}g</p>
        <p class="text_ter"><strong>Carbohydrates (total): </strong>{{ carb }}g</p>
    </div>
    <div class="return">
        <a href="http://kalorika.org" class="text-return">Select another image</a>
    </div>

</body>

</html>